body{
    padding: 0;
    margin: 0 auto;
    font-family: "Roboto",sans-serif;
}
left{
    width: 200px;
    height: 5000px;
    background-color: rgb(242, 241, 247);
    float:left;
  
}


content h3{
    width: 100%;
    height: 40px;
    background-color: rgb(17, 238, 80);
    color: rgb(211, 17, 17);
    text-align: center;
   
}
right .gogi img{
    width:300px;
    height: 400px;
}


 
right img {
    width: 300px;
    height: 200px;
}
content{
    width:600px;
    height: 5000px;
    background-color: white;
    margin-left: 20px;
    float: left;
   
}


right{
    width:300px;
    height:5000px;
    background-color: white;
    margin-left: 50px;
    float:left;
   
    
}
inside {
    width: 250px;
    height: 500px;
    background-color: darkorange;
    float: left;
}



.container{
    width: 980px;
    margin: auto;
  
  
}
span.green {
    color: green;
}
span.green {
    color:green;
}
h1{
    float :left;
    margin-top:  15px;
}
header{
   
    height: 100px;
    background: rgb(236, 238, 241);
}
header img{
 
    height: 100px;
    float:left;

}

ul.mot a:hover{
    background-color:rgb(2, 27, 13);
    color:black;
    transition: background,color .2s ease-out;
}
header .search{
    
  
        float: left ;
    margin :30px auto;
    padding right: 10px;
        background-color: green;
         
         color:black;

}
content img{
    width: 600px;
    height: 200px;
}
content .hai img{
    width :600px;
    height: 300px;

}

nav{
    height: 35px;
    background:blue ;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{

    display:inline-block;
    line-height: 35px;
    padding: 0 15px;
}
nav .menu ul li a{
    color:#fff;
    font-size: 15px;
    text-decoration: none;
   
}
.small{   
    width: 200px;
    height:186px ;
}
.trai{
    
width: 250px;
height: 186px;
}
 .a1{

width: 350px;
}
content trai img{
    width: 250px;
    height: 186px;

}
content ul{
    margin-left: 20px;
    font-family :segoe ui;
    font-size: 13px;
    color: gray;
}
content p {
    margin-left: 20px;

}
div.so1{
    display:flex;
    width: 600px ;
    height: 220px;
   

}
img.con1{
    width:290px;
  
    margin-right: 10px;
}
img.con2{
width:290px;
margin-right: 10px;
}
img.con3{
    width:290px;
    margin-right: 10px;
    }
.so1 img{
    width: 90%;
    
}
.so1 h5{
    width:100%;
}


.to{
    display: flex;
    width: 600px;
    height: 186px;
    }
    .trai{
        width: 250px;
        margin-right:10px ;
    }
    .phai{
        width: 330px;
        font-size: 10px;
    }
    .trai img{
        width:100% ;
    }
    .trai video{
        width: 100%;
    }
    div.so2{
        display:flex;
        width: 600px ;
        height: 500px;
    
    }
    img.con3{
        width:400px;
        margin-right: 10px;
    }
    img.con4{
    width:185px;
    margin-right: 5px;
    }
    
    .so2 img{
        width: 90%;
        height: 400px;
    }
    .so2 h5{
        width:100%;
       
    }
    hr {
        height: 2px;
        border: none;
        border-top: 2px solid black;
    }
    right h4 {
        text-align: center;
        color: blue;

    }
    .trai video{
        width:250px;
    }
    .hai video{
        width: 600px;
    } 
   
    footer .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    footer{
        position: relative;
        padding: 50px 100px;
        background: rgb(240, 239, 239);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        clear:both;

    }
    .social-icon {
        width: 150px; /* Set a specific width */
        
        text-decoration: none;
        list-style: none;
      }
      
      .social-icon a {
        display: flex; 
        text-align: center; /* Center-align text */
       ; /* Add some padding */
        transition: all 0.3s ease; /* Add transition for hover effects */
        
        font-size: 36px; /* Increased font-size */
      }
      
      .social-icon  a:hover {
        background-color: rgb(118, 6, 6); 
      }
      .noi-dunglinks {
          text-decoration: none;
      } 





   
   

    
   






































