*{
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
}

.container{
    width: 980px;
    margin: 0 auto; 
  
  
}

header{
   
    height: 100px;
    background: rgb(236, 238, 241);
}
header img{
 padding-left: 130px;
    height: 100px;
    float:left;
}
nav{
    height: 40px;
    background:blue ;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{
    text-align: center;
    padding-left: 1px;
    line-height: 40px;
    padding: 0 15px;
}
nav .menu ul li a{
    color:#fff;
    font-size: 15px;
}
nav .search{
    line-height:100px;
   
    margin-right:500px;
   
}


