body{
    padding: 0;
    margin: 0 auto;
    font-family: "Roboto",sans-serif;
}
left{
    width: 500px;
    height: 2000px;
    background-color: white;
   float:left;
   margin-left: 50px;
}



 

right img{
    width:300px;
    height:150px;
}
content{
    width:600px;
    height: 2000px;
    background-color: white;
    float: left;
}


right{
    width:200px;
    height:2000px;
    background-color: white;
    float:left;
}
footer{
    width: 100%;
    height:60px;
    background-color: rgb(223, 14, 32);
    clear:both;
}

.container{
    width: 980px;
    margin: auto;
  
  
}
span.green {
    color: green;
}
span.green {
    color:green;
}
h1{
    float :left;
    margin-top:  15px;
}
header{
   
    height: 100px;
    background: rgb(236, 238, 241);
}
header img{
 
    height: 100px;
    float:left;

}

ul.mot a:hover{
    background-color: rgb(14, 110, 201);
}
header .search{
    
  
        float: left ;
    margin :30px auto;
    padding right: 10px;
        background-color: green;
         
         color:black;

}
content img{
    width: 750px;
    height: 150px;
}
content .hai img{
    width :750px;
    height: 300px;

}
left{
    width: 200px;
    height: 2000px;
    background-color: rgb(221, 8, 221);
    float:left;
}
nav{
    height: 35px;
    background:blue ;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{

    display:inline-block;
    line-height: 35px;
    padding: 0 15px;
}
nav .menu ul li a{
    color:#fff;
    font-size: 15px;
    text-decoration: none;
   
}




 





   
   

    
   



